body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #005580;
  margin-top: 0;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
  text-align: left;
}

.details p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #005580;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #00364d;
}

.map-container {
  margin-top: 20px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}