.package-status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
  }
  .package-status-tile {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .package-status-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .package-status-input {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
  }
  
  .package-status-button {
    background-color: #005580;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .package-status-button:hover {
    background-color: #3e8e41;
  }